.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100vh;
}

.fill {
  height: 100vh;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}
