#chart-types,
#chart-subtypes,
#chart-families {
  /*background-color: gray;*/
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: sans-serif;
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #DED9C5;
  shape-rendering: crispEdges;
}

text {
  fill: #DED9C5;
}