body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.navbar {
  box-shadow: 0 0 14px rgba(0,0,0,0.6);
}

.navbar-header {
  padding: 7px 24px;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 400;
}

.navbar-nav {
  padding: 7px 12px;
  font-size: 18px;
  font-weight: 300;
}