body {
  background-image: url("../img/bg/triangular_color.png");
}

.navbar {
  background-color: rgba(170,170,170,0.75);
}

.info-box {
  background-color: white;
  padding: 40px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.pageable-table > thead > tr > th,
.pageable-table > tbody > tr > td {
  padding: 16px;
}
.pageable-table-model > thead > tr > th,
.pageable-table-model > tbody > tr > td {
  padding: 6px;
}

img {
  padding: 16px;
  max-width: 400px;
  max-height: auto;
}
