body {
  /*background-image: url("../img/bg/triangular_color.png");*/
  background-image: url("../img/bg/stonewall.jpg");
}

.navbar {
  /*background-color: rgba(170,170,170,0.95);*/
  background-color: rgba(170,170,170,0.0);
}

.navbar-brand {
  font-size: 24pt;
  font-weight: bold;
}

.navbar-nav {
  font-size: 20pt;
  font-weight: bold;
}

.info-box {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: rgba(255, 255, 255, 0.5);*/
  padding: 40px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: white;
}

.pageable-table > thead > tr > th,
.pageable-table > tbody > tr > td {
  padding: 16px;
  /*background-color: rgba(23, 23, 23, 0.9);*/
}
.pageable-table-model > thead > tr > th,
.pageable-table-model > tbody > tr > td {
  padding: 6px;
  /*background-color: rgba(0, 0, 0, 1);*/
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: rgba(0, 0, 0, 0);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(20, 20, 20, 1);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(40, 40, 40, 1);
}

/* unvisited link */
a:link {
    color: rgba(63, 153, 255, 1);
}

/* visited link */
a:visited {
    color: rgba(153, 102, 255, 1);
}

/* mouse over link */
a:hover {
    /*color: hotpink;*/
}

/* selected link */
a:active {
    /*color: blue;*/
}

img {
  padding: 16px;
  max-width: 400px;
  max-height: auto;
}
