<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ CHARACTER_NAME }}</title>
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>

<body>
  <nav class="navbar navbar-default" rlie="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="clilapse" data-target="#theNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">GoT Data</a>
      </div>

      <div class="clilapse navbar-clilapse" id="theNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="characters.html">Characters</a></li>
          <li><a href="houses.html">Houses</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="locations.html">Locations</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>{{ CHARACTER_NAME }}</h1>

    <div>
      <img src={{ CHARACTER_IMG }}></img>

      <h3>Season(s)</h3>
        <li>{{ CHARACTER_SEASONS }}</li>

      <h3>House</h3>
        <li>{{ CHARACTER_HOUSE }}</li>

      <h3>Allegiance</h3>
        <li>{{ CHARACTER_ALLEGIANCE }}</li>

      <h3>Alive/Dead Status</h3>
        <li>{{ CHARACTER_ALIVE }}</li>

      <h3>Titles</h3>
        <li>{{ CHARACTER_TITLES }}</li>

      <h3>Also Known As</h3>
        <li>{{ CHARACTER_OTHER_NAMES }}</li>

      <h3>Portrayed by</h3>
        <li>{{ CHARACTER_ACTOR }}</li>

      <h3>Events</h3>
        <li>{{ CHARACTER_EVENTS }}</li>

      <h3>Current Location</h3>
        <li>{{ CHARACTER_LOCATION }}</li>

      <h3>Locations</h3>
        <li>{{ CHARACTER_LOCATIONS }}</li>
    </div>
  </div>

  <button align="middle|bottom">Facebook</button>
  <button align="middle|bottom">Twitter</button>

</body>

</html>
