<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{character.name}}</title>
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">GoT Data</a>
      </div>

      <div class="collapse navbar-collapse" id="theNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/characters">Characters</a></li>
          <li><a href="/houses">Houses</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>{{character.name}}</h1>

    <div>
      <img src="{{character.img}}"></img>

      <h3>Book(s)</h3>
        <ul>
          {% for book in character.books %}
            <li><a href="book/{{book.id}}">{{book.name}}</a></li>
          {% endfor %}
        </ul>

      <h3>POV Book(s)</h3>
        <ul>
          {% for book in character.povBooks %}
            <li><a href="book/{{book.id}}">{{book.name}}</a></li>
          {% endfor %}
        </ul>

      <h3>Allegiances</h3>
        <ul>
          {% for house in character.allegiances %}
            <li><a href="book/{{book.id}}">{{book.name}}</a></li>
          {% endfor %}
        </ul>

      <h3>Born</h3>
        <p>{{character.born}}</p>

      <h3>Living Status</h3>
        {% if (character.died == "") %}
          <p>Alive</p>
        {% else %}
          <p>Died: {{character.died}}</p>
        {% endif %}

      <h3>Spouse</h3>
        <p>{{character.spouse}}</p>

      <h3>Culture</h3>
        <p>{{character.culture}}</p>

    </div>
  </div>

</body>

</html>
