<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Houses</title>
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="css/template.css">

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">GoT Data</a>
      </div>

      <div class="collapse navbar-collapse" id="theNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/characters">Characters</a></li>
          <li><a href="/houses">Houses</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>Houses</h1>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Region</th>
            <th>Coat of Arms</th>
          </tr>
        </thead>
        <tbody>
          {% for house in houses %}
            <tr>
              <td><a href="house/{{house['id']}}">{{house['name']}}</a></td>
              <td>{{ house['id']        }}</td>
              <td>{{ house['region']     }}</td>
              <td>{{ house['coatOfArms'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
