<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{house.name}}</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/template.css">

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">GoT Data</a>
      </div>

      <div class="collapse navbar-collapse" id="theNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/characters">Characters</a></li>
          <li><a href="/houses">Houses</a></li>
          <li><a href="/books">Books</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container info-box">
    <div class="row">
      <div class="col-md-12"><h1>{{house.name}}</h1></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Region</h3>
        <p>{{house.region}}</p>

        <h3>Coat of Arms</h3>
        <p>{{house.coatOfArms}}</p>

        <h3>Words</h3>
        <p>{{house.words}}</p>

        <h3>Current Lord</h3>
        <p>{{house.currentLord['name']}}</p>
        <!-- <a href="../character/{{house.currentLord['id']}}">{{house.currentLord['name']}}</a> -->

        <h3>Heir</h3>
        <p>{{house.heir['name']}}</p>
        <!-- <a href="../character/{{house.heir['id']}}">{{house.heir['name']}}</a> -->

        <h3>Overlord</h3>
        <p>{{house.overlord['name']}}</p>
        <!-- <a href="../character/{{house.overlord['id']}}">{{house.overlord['name']}}</a> -->

        <h3>Founder</h3>
        <p>{{house.founder['name']}}</p>
        <!-- <a href="../character/{{house.founder['id']}}">{{house.founder['name']}}</a> -->
      </div>

      <div class="col-md-6">
        <h3>Sworn Members</h3>
        <div class="list-group">
          {% for character in house.swornMembers %}
            <a class="list-group-item" href="../character/{{character['id']}}">{{character['name']}}</a>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>

</body>

</html>
