<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ LOCATION_NAME }}</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="css/index.css">

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">GoT Data</a>
      </div>

      <div class="collapse navbar-collapse" id="theNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="characters.html">Characters</a></li>
          <li><a href="houses.html">Houses</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="locations.html">Locations</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>{{ LOCATION_NAME }}</h1>

    <div>
      <img src={{ LOCATION_IMG }}></img>

      <h3>Significant Figures</h3>
        <li>{{ LOCATION_PEOPLE }}</li>

      <h3>Ruling Houses</h3>
        <li>{{ LOCATION_RULING_HOUSES}}</li>

      <h3>Neighbors</h3>
        <li>{{ LOCATION_NEIGHBORS }}</li>

      <h3>Conflicts</h3>
        <li>{{ LOCATION_CONFLICTS }}</li>

      <h3>Significant Events</h3>
        <li>{{ LOCATION_EVENTS }}</li>

    </div>
  </div>

  <button align="middle|bottom">Facebook</button>
  <button align="middle|bottom">Twitter</button>

</body>

</html>
